body{
    background:url("Topic+header.jpg");
    background-size:cover;
}
#btn{
margin-top:20px; 
box-shadow: 2px 2px 2px rgb(227, 219, 174);
}
#h3{
    box-shadow: 2px 2px 2px rgb(227, 219, 174);
}
#h11{
    box-shadow: 2px 2px 2px rgb(173, 226, 172); 
}
h2{
    box-shadow: 2px 2px 2px rgb(234, 187, 236); 
}
#div1{
    height:200px;
   width:400px;
    background: url("future.jpg");
    background-size:contain;
    border-radius:10px;
border-style: dotted;
border-color: blanchedalmond;
}
canvas{
    border:10px solid red;
    animation:example;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px burlywood;}
    to{box-shadow: 1px 1px 38px coral;}}
